
<div id="main">
  <div id="welcome">
    <h1 class="white-logo">Desperdicio Transito SP</h1>
    <div class="full-width-blue-line"></div>
    <div class="lead-capture-section">
      <h1 class="big-white-headline">Os Paulistanos DESPERDIÇARAM </h1>
      <h1 class="big-yellow-headline">R$ 100.000,00 reais </h1>
      <p class="big-white-headline">HOJE, no congestionamento.</p>
    </div>
  </div>

</div>
