@import "bootstrap";

h1, h2, h3 {
  font-family: "adelle", "source-sans-pro", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
}

#welcome {
  text-align: center;
  background-color: #223752;
  margin: 10px 0px 0px 0px;
  color: white;
  padding: 0px 0px 200px 0px;
  border-bottom: 1px solid #4F647F;
}

.titulo {
  margin: -10px 0px 30px 0px;
  font-size: 2em;
  border-bottom: 1px solid #4F647F;
  color: #92A7C0;
}

.grana {
  color: #ffc402;
}

.dia {
  padding: 10px 10px 10px 10px;
}

.semana {
  float: left;
  margin: 20px 0px 0px 200px;
  border: solid 2px;
  color: black;
  border-color: #e67e22;
  background: #e67e22;
  padding: 10px 10px 10px 10px;
  border-radius: 6px 6px 6px 6px;
  width: 25%;
}

.mes {
  float: right;
  margin: 20px 200px 0px 0px;
  border: solid 2px;
  color: black;
  border-color: #e67e22;
  background: #e67e22;
  padding: 10px 10px 10px 10px;
  border-radius: 6px 6px 6px 6px;
  width: 25%;
}
